* {box-sizing: border-box}

html {
  overflow:scroll;
}

body {
  background: #001a00;
  font-family: "Courier New",cursive,monospace;
}

.header {
  overflow: hidden;
  position:fixed;
  border: 1px solid slategray;
  background-color: #0B243B;
  width: 99.1%;
  height: 137px;
}

.header h1{
  display: block;
  background-color: rgba(13, 65, 115, 0.4);
  color: white;
  text-align: center;
  font-family: 'Geostar';
  padding: inherit;
  font-size: 55px;
  text-shadow: 1px 1px darkslategray, 5px 5px 5px darkslategray;
}

.tab {
  position: fixed;
  border: 1px solid slategray;
  background-color: #0B243B;
  width: 15%;
  height: 100%;
  margin-top: 137px;
}

.tab button {
  display: block;
  background-color: #0B3861;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: slategray;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

nav a:hover {
  color: darkslategray;
}

.content {
  background-image: url("https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif");
  padding: 0px 12px;
  border: 1px solid #ccc;
  margin-left: 15%;
  width: 85%;
  height: 100%;
}

a {
  color: white;
}

a:hover {
  color: lightgreen;
}

.content div img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 100%;
  height: 300px;
}

h1 {
  color: white;
  display: block;
  text-align: center;
  background: rgba(142, 177, 215, 0.4);
  font-family: serif;
  font-size: 55px;
  text-shadow: 1px 1px black, 2px 2px, 5px 5px 5px black;
}

.greating {
  color: white;
  display: block;
  margin-top: 145px;
  text-align: center;
  background: rgba(142, 177, 215, 0.4);
  font-family: serif;
  font-size: 55px;
  text-shadow: 1px 1px black, 2px 2px, 5px 5px 5px black;
}

h2 {
  color: white;
  display: block;
  text-align: center;
  background: rgba(0, 43, 128, 0.7);
  font-family: monospace;
  text-shadow: 1px 1px black, 2px 2px blue, 5px 5px 5px white;
}

h3 {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5%;
  text-align: left;
  background: rgba(198, 217, 235, 0.2);
  text-shadow: 1px 1px blue, 2px 2px darkgreen, 5px 5px 8px lightgreen;
}

p {
  color: white;
  display: block;
  font-size: medium;
  font-family: Courier New, monospace;
  text-shadow: 1px 1px red, 2px 2px blue, 5px 5px 5px white;
  background: rgba(0, 102, 255, 0.3);
}

.content img {
  display: grid-auto-row;
  grid-column-gap: 10px;
  border-width: 5px;
  border-style: groove;
  height: 400px;
  width: 40%;
  margin: auto;
  margin-left: 6%;
  margin-top: 1%;
}
